h1 {
    font-family: Arial, Helvetica, sans-serif;
    color:goldenrod
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: red
}

musk {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;

}